<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    People

    <a data-toggle="collapse" href="#work_sector_people_new_form">
      Add person
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @work_sector.people.each do |person| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/people/<%= person.id %>">
          <%= person.name %>
        </a>

        <a href="/delete_person_from_work_sector/<%= person.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="work_sector_people_new_form">
        <%= render partial: "work_sector_templates/work_sector_people_new_form" %>
      </div>
    </div>

  </ul>
</div>
