<h1>
  Edit work sector #<%= @work_sector.id %>
</h1>

<hr>

<!-- Form work_sector start -->
<form action="/update_work_sector/<%= @work_sector.id %>" method="post">
<!-- Form work_sector end -->

  <!-- Label and input for sector_name start -->
  <div class="form-group">
    <label for="sector_name">
      Sector name
    </label>

    <!-- Input for sector_name start -->
    <input type="text" id="sector_name" name="sector_name" class="form-control" value="<%= @work_sector.sector_name %>">
    <!-- Input for sector_name end -->
  </div>
  <!-- Label and input for sector_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update work sector
  </button>
</form>

<hr>

<a href="/work_sectors">
  Go back
</a>
