<h1>
  Add a new work sector
</h1>


<hr>

<form action="/create_work_sector" method="post">

  <div class="form-group">
    <label for="sector_name">
      Sector name
    </label>

    <input type="text" id="sector_name" name="sector_name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create work sector
  </button>
</form>

<hr>

<a href="/work_sectors">
  Go back
</a>
