<h1>
  Add a new work sector
</h1>


<hr>

<!-- Form work_sector start -->
<form action="/create_work_sector" method="post">
<!-- Form work_sector end -->

  <!-- Label and input for sector_name start -->
  <div class="form-group">
    <label for="sector_name">
      Sector name
    </label>

    <!-- Input for sector_name start -->
    <input type="text" id="sector_name" name="sector_name" class="form-control">
    <!-- Input for sector_name end -->
  </div>
  <!-- Label and input for sector_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create work sector
  </button>
</form>

<hr>

<a href="/work_sectors">
  Go back
</a>
