<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Outreaches

    <a data-toggle="collapse" href="#person_outreaches_new_form">
      Add outreach
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @person.outreaches.each do |outreach| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/outreaches/<%= outreach.id %>">
          <%= outreach.recipient_id %>
        </a>

        <a href="/delete_outreach_from_recipient/<%= outreach.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="person_outreaches_new_form">
        <%= render partial: "person_templates/person_outreaches_new_form" %>
      </div>
    </div>

  </ul>
</div>
