<form action="/create_company_location_from_city" method="post">

  <div class="form-group">
    <label for="company_id">
      Company
    </label>

    <%= select_tag(:company_id, options_from_collection_for_select(Company.all, :id, :company_name, @company_location.company_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="city_id" value="<%= @city.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create company location
  </button>
</form>
