<form action="/create_outreach_from_contact_method" method="post">

  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>

    <%= select_tag(:recipient_id, options_from_collection_for_select(Person.all, :id, :name, @outreach.recipient_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @outreach.notes %></textarea>
  </div>

  <div class="form-group">
    <label for="response_tf">
      Response tf
    </label>
    <input id="response_tf" class="form-check-input" name="response_tf" type="checkbox" <%= "checked" if @outreach.response_tf %>>
  </div>

  <input type="hidden" name="outreach_method_id" value="<%= @contact_method.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create outreach
  </button>
</form>
