<h1>
  Edit contact method #<%= @contact_method.id %>
</h1>

<hr>

<form action="/update_contact_method/<%= @contact_method.id %>" method="post">

  <div class="form-group">
    <label for="method_name">
      Method name
    </label>

    <input type="text" id="method_name" name="method_name" class="form-control" value="<%= @contact_method.method_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update contact method
  </button>
</form>

<hr>

<a href="/contact_methods">
  Go back
</a>
