<form action="/create_company_location_from_company" method="post">

  <input type="hidden" name="company_id" value="<%= @company.id %>">

  <div class="form-group">
    <label for="city_id">
      City
    </label>

    <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :city_name, @company_location.city_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create company location
  </button>
</form>
