<h1>
  Add a new company
</h1>


<hr>

<!-- Form company start -->
<form action="/create_company" method="post">
<!-- Form company end -->

  <!-- Label and input for company_name start -->
  <div class="form-group">
    <label for="company_name">
      Company name
    </label>

    <!-- Input for company_name start -->
    <input type="text" id="company_name" name="company_name" class="form-control">
    <!-- Input for company_name end -->
  </div>
  <!-- Label and input for company_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create company
  </button>
</form>

<hr>

<a href="/companies">
  Go back
</a>
